.myImage{
	height:500px;
	width: 500px;
	 
	
}
.image-container{
	justify-content: center;
	display: flex;
	  
	height:76vh;
	width:100%;  
	 
}
.myClass{
	display:none; 
}
.myclass:hover{
	display:block;
	
}
.txtDiv{
	display:none;
	
}